html {
  font-size: 14px;
}

@media {
  html {
    font-size: 20px;
  }
}

html {
  min-height: 100%;
}

body {
    margin-left: -150px;
    margin-top: 10px;
    font-family: 'Times New Roman';
}

h1 {
    font-family: 'Times New Roman';
    font-size: x-large;
    font-weight: 700;
}